.item__col {
  display: flex;
  flex: 10;
  flex-direction: column;
  justify-content: center;
  justify-self: flex-end;
}

.item__col-cta {
  flex: 1;
}

.item__link {
  display: flex;
  flex: 8;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  text-decoration: none !important;
  outline: none;
  color: var(--text-light) !important;
}

.link__icon {
  flex: 1;
  color: var(--purple-500);
  font-size: 40px;
  line-height: 40px;
  margin: auto 0;
}

.link__name {
  flex: 10;
}

.link__text {
  text-align: center;
  text-decoration: none !important;
  color: var(--text-light);
}

.chat-item__item-new {
  background-color: var(--text-light) !important;
}

.item__cta {
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
  color: var(--text-light-faded);
}

.item__cta:hover {
  color: var(--warning-red);
}
