.chatroom__message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  width: 90%;
  margin: 0 auto;
}

.new-message__form {
  width: 75%;
}

.message-form__row {
  display: flex;
  align-items: center;
}

.message-form__col-input {
  flex: 10;
}

.message-form__col-cta {
  flex: 2;
}

.message-form__input {
  width: 100%;
  color: var(--text-dark) !important;
  background-color: var(--text-light) !important;
  border: .15rem solid var(--purple-900) !important;
  outline: none !important;
  font-min-size: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.message-form__input:focus {
  box-shadow: 0 0 0 .2rem var(--purple-500-faded) !important;
}

.message-form__cta {
  outline: 1px solid var(--purple-900);
  background-color: var(--accent) !important;
  color: var(--purple-900) !important;
  transition-property: background-color, color, border;
  transition-duration: 150ms;
  transition-delay: 50ms;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.message-form__cta:hover {
  color: var(--accent) !important;
  background-color: var(--purple-900) !important;
  outline: 1px solid var(--accent) !important;
}