.chat__display {
  overflow: auto !important;
  scrollbar-width: thin;
}

.chat__display-scroll::-webkit-scrollbar {
  width: 7px;
}

.chat__display-scroll::-webkit-scrollbar:hover {
  width: 12px;
}

/* Track */
.chat__display-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

/* Handle */
.chat__display-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;

}

/* Handle on hover */
.chat__display-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}