.profile__card {
  border: none !important;
  color: var(--text-light);
  background-color: transparent !important;
  width: 100% !important;
}
.profile__avatar {
  border-radius: .75rem !important;
  height: 150px;
  width: 150px !important;
  margin: 0 auto;
}
.profile__body {
  background-color: transparent !important;
  padding: 0 !important;
}
.profile__row {
  display: flex;
  justify-content: space-around;
  background-color: transparent !important;
  padding: .75rem 0 !important;
}
.row__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 .4rem 0 .5rem;
}
.content__col {
  padding: 0;
  text-align: left;
}
.content__col-label {
  flex: 3;
}
.content__col-input {
  flex: 7;
  color: var(--text-light-50);
}
.content__col-cta {
  flex: 1;
  text-align: right;
}
.profile__label {
  margin: auto;
  font-weight: 300;
}
.profile__input-placeholder {
  color: var(--text-light-50) !important;
  text-align: center !important;
}
.profile__cta-edit {
  color: var(--text-light-50);
}
.profile__cta-edit:hover {
  color: var(--text-light);
  cursor: pointer;
}
.profile__footer {
  background-color: transparent !important;
}
.profile__submit {
  /*position: absolute;*/
  /*left: -9999px;*/
  /*width: 1px;*/
  /*height: 1px;*/
}
.profile__cta {
  font-size: 1rem;
  color: var(--text-dark)

}

.profile__cta-logout {

}
.profile__cta-delete {
  background-color: var(--warning-red) !important;
}
.profile__cta-delete:hover {
  background-color: var(--red-500) !important;
}
.profile__cta-delete:disabled,
.profile__cta-delete:hover {
  color: var(--text-light-50) !important;
  background-color: var(--warning-red) !important;
}