@import "root.css";

body {
  background: var(--dark-bg-deep);


}

#root {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*height: 100vh;*/
}

.display {
  height: 100vh;
  /*width: 75vw;*/
  /*border-radius: 1rem;*/
  /*overflow: hidden;*/
}
/*  SIDEBAR  */


    .sidebar__break {
      width: 80%;
      border-bottom: 1px solid var(--text-light);
      border-radius: 75%;
    }
    /*  --- Sidebar Chatroom Styles  ---  */



    /*  ---  End Sidebar Chats  ---  */

    /*  ---  Sidebar Profile  ---  */


    /*  ---  End Sidebar Profile  ---  */

/*  END SIDEBAR */


/*  LANDING */

/*  END LANDING */



/*  CHAT AREA  */

    /*  ---  Scroll Bar Styles  ---  */

    /*  ---  End Scroll Bar  ---  */

    /*  ---  MessageBubble Styles  ---  */

    /*  ---  End Chat MessageBubble  ---  */
/*  END CHAT AREA  */

/*  CHATROOM DISPLAY  */

/*  END CHATROOM DISPLAY  */